<div class="modal-content">
    <div class="box-title border-top title-modal">
        <h2 id="title-table">texto titulo</h2>
        <i class="fa-regular fa-rectangle-xmark close"></i>
    </div>    
    <div class="form-container border-bottom">
        <div class="list-element">
            <strong>Nombre: </strong><span id="priceTypeName">#</span>
        </div>
    </div>
</div>