<div class="modal-content">
    <div class="box-title border-top title-modal">
        <h2 id="title-table">texto titulo</h2>
        <i class="fa-regular fa-rectangle-xmark close"></i>
    </div>    
    <div class="form-container border-bottom">
        <div class="list-element">
            <strong>título: </strong><span id="productionTitle">#</span>
        </div>
        <div class="list-element">
            <strong>artista: </strong><span id="productionArtist">#</span>
        </div>
        <div class="list-element">
            <strong>link a video: </strong><a href="" id="refYT" style:="text-decoration:none"><span id="productionYTUrl" style="color:var(--main-black)">#</span></a>
        </div>
    </div>
</div>