<div class="modal-content">
    <div class="box-title border-top title-modal">
        <h2 id="title-table">texto titulo</h2>
        <i class="fa-regular fa-rectangle-xmark close"></i>
    </div>    
    <div class="form-container border-bottom">
        <div class="list-element">
            <strong>título: </strong><input disabled class="form-input-text" id="productionTitle">
        </div>
        <div class="list-element">
            <strong>artista: </strong><input disabled class="form-input-text" id="productionArtist">
        </div>
        <div class="list-element">
            <strong>link a video: </strong><input disabled class="form-input-text" id="productionYTUrl">
        </div>
    </div>
</div>