<div class="modal-content">
    <div class="box-title border-top title-modal">
        <h2 id="title-table">texto titulo</h2>
        <i class="fa-regular fa-rectangle-xmark close"></i>
    </div>    
    <div class="form-container border-bottom">
        <img id="userImage" src="#" alt="">
        <div class="list-element">
            <strong>Nombre: </strong><span id="userFirstName"></span>
        </div>
        <div class="list-element">
            <strong>Apellido: </strong><span id="userLastName"></span>
        </div>
        <div class="list-element">
            <strong>Email: </strong><span id="userEmail"></span>
        </div>
        <div class="list-element">
            <strong>Nombre de Usuario: </strong><span id="userName"></span>
        </div>
        <div class="list-element">
            <strong>Rol: </strong><span id="userRole"></span>
        </div>
        <div class="list-element">
            <strong>Password: </strong><span id="userPassword"></span>
        </div>
    </div>
</div>