<div class="modal-content">
    <div class="box-title border-top title-modal">
        <h2 id="title-table">texto titulo</h2>
        <i class="fa-regular fa-rectangle-xmark close"></i>
    </div>    
    <div class="form-container border-bottom">
        <img id="userImage" src="#" alt="">
        <div class="list-element">
            <strong>Nombre: </strong><input disabled class="form-input-text" id="userFirstName">
        </div>
        <div class="list-element">
            <strong>Apellido: </strong><input disabled class="form-input-text" id="userLastName">
        </div>
        <div class="list-element">
            <strong>Email: </strong><input disabled class="form-input-text" id="userEmail">
        </div>
        <div class="list-element">
            <strong>Nombre de Usuario: </strong><input disabled class="form-input-text" id="userName">
        </div>
        <div class="list-element">
            <strong>Rol: </strong><input disabled class="form-input-text" id="userRole">
        </div>
        <div class="list-element">
            <strong>Password: </strong><input disabled class="form-input-text" id="userPassword">
        </div>
    </div>
</div>