<table>
    <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Ver</th>
        <th>Editar</th>
        <!-- <% if (locals.usuario.roles.roleName.toUpperCase() == "EMPLEADO" ) { %> -->
        <th>Eliminar</th>
        <!-- <% } %> -->
    </tr>
    <!-- if (typeof(locals.listObj) !== 'undefined') {
         locals.listObj.foreach( obj => { %> -->
            <tr>
                <!-- <th><%=obj.id%></th>
                <th><%=obj.name%></th> -->
                <th><i class="fa-solid fa-eye"></i></th>
                <th><i class="fa-solid fa-pencil"></i></th>
                <!-- <% if (locals.usuario.roles.roleName.toUpperCase() == "EMPLEADO" ) { %> -->
                <th><i class="fa-solid fa-trash"></i></th>
                <!-- <% } %> -->
            </tr>
        <!-- <% })
    } %> -->
</table>
