<%- include ('../../partials/commons/head')%>
    <link rel="stylesheet" href="/css/addproducts.css">
    <title>Registro</title>
</head>
<%- include ('../../partials/commons/header')%>
    <main>
        <div class="split-view">            
            <section class="form-container">
                <div class ="header-form">                    
                    <h2 class="form-title"><i class="fa-solid fa-circle-plus form-title fa-lg"></i> Añadir Producto </h2>
                </div>
                <form class="form">
                    <div class="subitem">
                        <h3 class="center-title">Nombre del Producto</h3>
                        <input type="text" id="input-user" class="form-input form-dimention" required placeholder="Ingrese un nombre para su producto">
                    </div>
                    
                    <div class="subitem">
                        <h3 class="center-title">Descripción</h3>
                        <input type="text" id="input-pass" class="form-input form-dimention" required placeholder="Ingrese una descripción (MAX: 300 caracteres)">                        
                    </div>
                    
                    <div class="subitem">
                        <h3 class="center-title">Imagen</h3>
                        <input type="file" id="input-pass-confirm" class="form-input image-info" required placeholder="Ingrese su contraseña">                        
                    </div>

                    <div class="subitem">
                        <h3 class="center-title">Categoría de costo</h3>
                        <div class="sub-rows">
                            <label>
                                <input type="radio" class="sub-element" name="profile" value="fixed" required>Precio Fijo</input>
                            </label>
                            <label>
                                <input type="radio" class="sub-element" name="profile" value="quoted" required>Cotización</input>
                            </label>
                        </div>
                    </div>
                    <div class="subitem">
                        <h3 class="center-title">Precio</h3>
                        <input type="text" id="input-email" class="form-input form-dimention center-title" required placeholder="0,00$">

                    </div>

                    <div class="subitem">
                        <button type="submit" name="add-item" class="add-item-button form-button">Crear</button>
                    </div>
                </form>
            </section>
            <section class="previews-container">
                <div class="preview-item">            
                    <div class="preview-desktop">
                        
                    </div>
                    <div class="preview-mobile">
                        
                    </div>
                </div>
            </section>   
        </div>     
    </main>
    <%- include ('../../partials/commons/footer')%>
