<div class="modal-content">
    <div class="box-title border-top title-modal delete-element">
        <h2 id="title-table">Eliminando Elemento</h2>
        <i class="fa-regular fa-rectangle-xmark close error-element"></i>
    </div>    
    <div class="form-container border-bottom delete-form-container">
        <strong>Estas intentando eliminar el siguiente elemento:</strong>
        <div id="list-keyvalues">
        </div>
        <strong>¿Estás de acuerdo?</strong>
        <div class="show-btns">
            <button class="submit-btn delete">si</button>
            <button class="submit-btn reject">no</button>
        </div>
    </div>
</div>