<div id="productModal" class="modal">
    <div class="modal-content">
        <div class="box-title border-top title-modal">
            <h2 id="productTitle"></h2>
            <i class="fa-regular fa-rectangle-xmark close"></i>
        </div>
        <div class="product-container border-bottom">
            <img id="productImage"src="/db-images/products/products/masterizacion.jpg" alt="">
            <span id="productDescription">x</span>
            <div>
                <strong>COSTO: </strong> <span id="productPrice"></span>
            </div>
            <div class="product-actions">
                <button class="add-product"><i class="fa-solid fa-cart-plus"></i> Agregar</button>
                <button class="fav-product"><i class="fa-solid fa-heart"></i> Fav</button>
            </div>
        </div>
    </div>
</div>