<%- include ('../partials/commons/head')%>
    <title>Nuestros Servicios</title>
    <link rel="stylesheet" href="/css/productsstyles.css">
</head>
<%- include ('../partials/commons/header')%>
    <main>
        <h2 class="section-title">Servicios</h2>
        <section>
            <div class="products">
                <div class="service-item">
                    <i class="fas fa-guitar"></i>
                    <p class="service-name">Clases de música - Guitarra</p>
                </div>
                <div >
                    <h2 class="about-h2">Acerca del servicio</h2>
                    <article>
                        <p class="description-service">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id maiores a, numquam explicabo quae quo esse maxime aut hic ducimus!</p>
                    </article>
                    <button class="add-product">
                      <i class="fa-solid fa-cart-shopping"></i>Añadir al Carrito
                    </button>
                    <button class="buy-product">
                        <i class="fa-sharp fa-solid fa-dollar-sign"></i>9999.99
                      </button>
                  </div>
            </div>
            <div class="products">
                <div class="service-item">
                    <i class="fas fa-keyboard"></i>
                    <span class="service-name">Clases de música - Piano/Teclado</span>
                </div>
                <div >
                    <h2 class="about-h2">Acerca del servicio</h2>
                    <article>
                        <p class="description-service">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id maiores a, numquam explicabo quae quo esse maxime aut hic ducimus!</p>
                    </article>
                    <button class="add-product">
                      <i class="fa-solid fa-cart-shopping"></i>Añadir al Carrito
                    </button>
                    <button class="buy-product">
                        <i class="fa-sharp fa-solid fa-dollar-sign"></i>9999.99
                      </button>
                  </div>
            </div>
            <div class="products">
                <div class="service-item">
                    <i class="fas fa-music"></i>
                    <span class="service-name">Clases de música - Producción Musical</span>
                </div>
                <div >
                    <h2 class="about-h2">Acerca del servicio</h2>
                    <article>
                        <p class="description-service">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id maiores a, numquam explicabo quae quo esse maxime aut hic ducimus!</p>
                    </article>
                    <button class="add-product">
                      <i class="fa-solid fa-cart-shopping"></i>Añadir al Carrito
                    </button>
                    <button class="buy-product">
                        <i class="fa-sharp fa-solid fa-dollar-sign"></i>9999.99
                      </button>
                  </div>
            </div>
            <div class="products">
                <div class="service-item">
                    <i class="fas fa-microphone"></i>
                    <p class="service-name">Clases de música - Técnica vocal</p>
                </div>
                <div >
                    <h2 class="about-h2">Acerca del servicio</h2>
                    <article>
                        <p class="description-service">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id maiores a, numquam explicabo quae quo esse maxime aut hic ducimus!</p>
                    </article>
                    <button class="add-product">
                      <i class="fa-solid fa-cart-shopping"></i>Añadir al Carrito
                    </button>
                    <button class="buy-product">
                        <i class="fa-sharp fa-solid fa-dollar-sign"></i>9999.99
                      </button>
                  </div>
            </div>
            <div class="products">
                <div class="service-item">
                    <i class="fas fa-music"></i>
                    <span class="service-name">Clases de música - Teoría Musical</span>
                </div>
                <div >
                    <h2 class="about-h2">Acerca del servicio</h2>
                    <article>
                        <p class="description-service">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id maiores a, numquam explicabo quae quo esse maxime aut hic ducimus!</p>
                    </article>
                    <button class="add-product">
                      <i class="fa-solid fa-cart-shopping"></i>Añadir al Carrito
                    </button>
                    <button class="buy-product">
                        <i class="fa-sharp fa-solid fa-dollar-sign"></i>9999.99
                      </button>
                  </div>
            </div>
            <div class="products">
                <div class="service-item">
                    <i class="fas fa-drum"></i>
                    <span class="service-name">Ensayadero</span>
                </div>
                <div >
                    <h2 class="about-h2">Acerca del servicio</h2>
                    <article>
                        <p class="description-service">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id maiores a, numquam explicabo quae quo esse maxime aut hic ducimus!</p>
                    </article>
                    <button class="add-product">
                      <i class="fa-solid fa-cart-shopping"></i>Añadir al Carrito
                    </button>
                    <button class="buy-product">
                        <i class="fa-sharp fa-solid fa-dollar-sign"></i>9999.99
                      </button>
                  </div>
            </div>
            <div class="products">
                <div class="service-item">
                    <i class="fas fa-microphone-alt"></i>
                    <span class="service-name">Grabación a distancia</span>
                </div>
                <div >
                    <h2 class="about-h2">Acerca del servicio</h2>
                    <article>
                        <p class="description-service">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id maiores a, numquam explicabo quae quo esse maxime aut hic ducimus!</p>
                    </article>
                    <button class="add-product">
                      <i class="fa-solid fa-cart-shopping"></i>Añadir al Carrito
                    </button>
                    <button class="buy-product">
                        <i class="fa-sharp fa-solid fa-dollar-sign"></i>9999.99
                      </button>
                  </div>
            </div>
            <div class="products">
                <div class="service-item">
                    <i class="fas fa-headphones"></i>
                    <span class="service-name">Masterización</span>
                </div>
                <div >
                    <h2 class="about-h2">Acerca del servicio</h2>
                    <article>
                        <p class="description-service">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id maiores a, numquam explicabo quae quo esse maxime aut hic ducimus!</p>
                    </article>
                    <button class="add-product">
                      <i class="fa-solid fa-cart-shopping"></i>Añadir al Carrito
                    </button>
                    <button class="buy-product">
                        <i class="fa-sharp fa-solid fa-dollar-sign"></i>9999.99
                      </button>
                  </div>
            </div>
            <div class="products">
                <div class="service-item">
                    <i class="fas fa-sliders-h"></i>
                    <span class="service-name">Mezcla</span>
                </div>
                <div >
                    <h2 class="about-h2">Acerca del servicio</h2>
                    <article>
                        <p class="description-service">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id maiores a, numquam explicabo quae quo esse maxime aut hic ducimus!</p>
                    </article>
                    <button class="add-product">
                      <i class="fa-solid fa-cart-shopping"></i>Añadir al Carrito
                    </button>
                    <button class="buy-product">
                        <i class="fa-sharp fa-solid fa-dollar-sign"></i>9999.99
                      </button>
                  </div>
            </div>
            <div class="products">
                <div class="service-item">
                    <i class="fas fa-microphone"></i>
                    <span class="service-name">Grabación de audio</span>
                </div>
                <div >
                    <h2 class="about-h2">Acerca del servicio</h2>
                    <article>
                        <p class="description-service">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id maiores a, numquam explicabo quae quo esse maxime aut hic ducimus!</p>
                    </article>
                    <button class="add-product">
                      <i class="fa-solid fa-cart-shopping"></i>Añadir al Carrito
                    </button>
                    <button class="buy-product">
                        <i class="fa-sharp fa-solid fa-dollar-sign"></i>9999.99
                      </button>
                  </div>
            </div>
            <div class="products">
                <div class="service-item">
                    <i class="fas fa-music"></i>
                    <span class="service-name">Transcripción de fonogramas</span>
                </div>
                <div >
                    <h2 class="about-h2">Acerca del servicio</h2>
                    <article>
                        <p class="description-service">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id maiores a, numquam explicabo quae quo esse maxime aut hic ducimus!</p>
                    </article>
                    <button class="add-product">
                      <i class="fa-solid fa-cart-shopping"></i>Añadir al Carrito
                    </button>
                    <button class="buy-product">
                        <i class="fa-sharp fa-solid fa-dollar-sign"></i>9999.99
                      </button>
                  </div>
            </div>
        </section>
    </main>
<%- include ('../partials/commons/footer')%>
