<footer>
    <div>
        <section>
            <div>
                <h4><i class="fa-solid fa-location-dot"></i> AirSound Studio</h4>
                <p>Valle del Aburrá, La Estrella, Colombia</p>
            </div>
        </section>
        <section>
            <div>
                <h4></i> Nuestro Contacto</h4>
                <p><i class="fas fa-solid fa-phone"></i> Teléfono: (+57) 3193386594</p>
                <p><i class="fas fa-solid fa-envelope"></i> Email: airsoundmusica@gmail.com</p>
                <p></i><a href="/contacts" class="nolink"><i class="fas fa-solid fa-inbox"></i> Escríbenos</a></p>
            </div>
        </section>
        <section>
            <div>
                <h4>Nuestras Redes</h4>
                <p><a href="https://www.instagram.com/airsoundstudio/?hl=es-la" class="nolink nolink-ig"><i class="fa-brands fa-instagram"></i> Instagram</a></p>
                <p><a href="https://www.youtube.com/@recfilmsmedellin" class="nolink nolink-yt"><i class="fa-brands fa-youtube"></i> YouTube</a></p>
            </div>
        </section>
      </div>
</footer>
</body>
</html>