        <footer>
            <div class="contain-foo-SM">
                <div class="foo-SM">
                    <h4>nuestras RR.SS.</h4>
                    <div class="foo-RRSS">
                        <a href="https://www.youtube.com/@recfilmsmedellin" class="brand-icon ig-icon">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="https://www.instagram.com/airsoundstudio/?hl=es-la" class="brand-icon yt-icon">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="about">
                <h2>Acerca de Nosotros</h2>
                <i id="changeArrow" class="fa-solid fa-angle-down"></i>
            </div>
            <div class="show-about inactive">
                <div class="about-sub-elements">
                    <div>
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <p>Valle del Aburrá, La Estrella, Colombia</p>
                </div>
                <div class="about-sub-elements">
                    <div>
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <p>(+57) 3193386594</p>
                </div>
                <div class="about-sub-elements">
                    <div>
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <p id="end-html">airsoundmusica@gmail.com</p>
                </div>
            </div>  
        </footer>
        <script src="/scripts/showAbout.js"></script>
    </body>
</html>