        <footer>
            <section class="social-media">
                <p>Conéctate a nosotros a través de nuestra RR.SS.</p>
                <div>
                    <a href="https://www.youtube.com/@recfilmsmedellin"><img
                        class="mini-logo-container"
                        src="/img/yt-icon-round.png"
                        alt="YT Channel"
                    /></a>
                    <a href="https://www.instagram.com/airsoundstudio/?hl=es-la"><img
                        class="mini-logo-container"
                        src="/img/ig-icon-round.png"
                        alt="IG Channel"
                    /></a>
                </div>
            </section>
            <div class="about">
                <section class="about-section">
                    <h3>Acerca de Nosotros</h3>
                    <section class="grid-section">
                        <i class="fa-solid fa-location-dot grid-element"></i><p class="grid-element">Valle del Aburrá, La Estrella, Colombia</p>
                        <i class="fa-solid fa-phone grid-element"></i><p class="grid-element">(+57) 3193386594</p>
                        <i class="fa-solid fa-envelope grid-element"></i><p class="grid-element">airsoundmusica@gmail.com</p>
                    </section>
                </section>
            </div>
        </footer>
    </body>
</html>