<body>
    <header>
        <div class="logo-container">
            <img
              class="logo"
              src="/img/logo.png"
              alt="Logo AS Studio"
            />
          </div>
        <nav>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Productos</a></li>
                <li><a href="/contacts">Contacto</a></li>
                <li><a href="/auth/register">Registro <i class="far fa-id-card"></i></a></li>
                <li><a href="/auth/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/cart">Mi Carrito <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burguer-menu">
            <i class="fas fa-solid fa-bars"></i>    
          </div>
    </header>