<body>
  <header>
    <div class="header-content">
      <button class="burguer-menu">
        <div></div>
        <div></div>
        <div></div>
      </button>
      <div class="logo-container">
        <a class="elements" href="/">
          <img class="logo" src="/img/logo.png" alt="AS Studio"/>
        </a>
      </div>
      <nav class="navbar">
        <ul class="nav-ul">
          <li class="nav-ul-li">
            <a class="elements" href="/products">
              <div>
                <i class="fa-solid fa-icons icon"></i>
              </div>
              <div>
                <span class="li-element-text" data-text="Products">Productos</span>
              </div>
            </a>
          </li>
          <li class="nav-ul-li">
            <a class="elements" href="/cart">
              <div>
                <i class="fa-solid fa-basket-shopping icon"></i>
              </div>
              <div>
                <span class="li-element-text" data-text="Cart">Carrito</span>
              </div>
            </a>
          </li>
          <li class="nav-ul-li dd-li">
            <button class="dropdown-elements">
              <div class="elements dd-element">
                <div>
                  <% if (locals.isLogged) {
                    switch(locals.usuario.roles.roleName.toUpperCase()) { 
                      case 'ADMINISTRADOR': %>
                        <i class="fa-solid fa-user-gear icon"></i>
                        <% break
                        case 'EMPLEADO':%>
                        <i class="fa-solid fa-user-tie icon"></i>
                        <% break
                        default:%>
                        <i class="fa-solid fa-user icon"></i>
                    <% }
                  } else{ %>
                    <i class="fa-solid fa-user icon"></i>
                  <%} %>
                </div>
                <div>
                  <span class="li-element-text" data-text="Profile">Perfil</span>
                </div>
              </div>
              <i class="fa fa-caret-down mini-icon"></i>              
              <div class="dropdown-content">                
                <% if (locals.isLogged) { 
                  if (locals.usuario.roles.roleName.toUpperCase() == "ADMINISTRADOR"
                    || locals.usuario.roles.roleName.toUpperCase() == "EMPLEADO") { %>
                    <a href="/admin" class="dd-c-element">   
                      <i class="fa-solid fa-gear mini-icon"></i>
                      <span>Administrar</span>
                    </a>
                  <% }
                  if (locals.usuario.roles.roleName.toUpperCase() == "EMPLEADO"
                    || locals.usuario.roles.roleName.toUpperCase() == "USUARIO"){ %>
                      <a href="/auth/profile" class="dd-c-element">   
                        <i class="fa-solid fa-user mini-icon"></i>
                        <span >Mi Perfil</span>
                      </a>
                    <% } %>
                  <a href="/auth/logout" class="dd-c-element">   
                    <i class="fa-solid fa-right-from-bracket mini-icon"></i>
                    <span >Salir</span>
                  </a>
                <% } else{%>
                  <a href="/auth" class="dd-c-element">   
                    <i class="fa-solid fa-right-to-bracket mini-icon"></i>
                    <span >Conectar</span>
                  </a>
                <% } %>
              </div>
            </button>            
          </li>
          <li class="nav-ul-li">
            <a class="elements" href="/contact">
              <div>
                <i class="fa-solid fa-at icon"></i>
              </div>
              <div>
                <span class="li-element-text" data-text="Contact">Contacto</span>
              </div>
            </a>
          </li>
          
        </ul>
      </nav> 
    </div>
  </header>