<body>
    <header>
        <div class="logo-container">
            <img
              class="logo"
              src="/img/logo.png"
              alt="Logo AS Studio"
            />
          </div>
          <nav class="navbar">
            <ul class="nav-ul">
              <li class="nav-ul-li">
                <div class="elemento-li">
                  <i class="fa-solid fa-house-chimney"></i>
                  <a href="/">HOME</a>
                </div>
              </li>
              <li class="nav-ul-li">
                <div class="elemento-li">
                  <i class="fa-solid fa-icons"></i>
                  <a href="/products">PRODUCTS</a>
                </div>
              </li>
              <li class="nav-ul-li">
                <div class="elemento-li">
                  <i class="fa-solid fa-basket-shopping"></i>
                  <a href="/cart">CART</a>
                </div>
              </li>
              <li class="nav-ul-li">
                <div class="elemento-li">
                  <i class="fa-solid fa-at"></i>
                  <a href="/contact">CONTACT</a>
                </div>
              </li>
              <% if (locals.isLogged) { %>
                <% if (locals.usuario.role ===1) { %>
                  <li class="nav-ul-li">
                    <div class="elemento-li">
                      <i class="fa-solid fa-gear"></i>
                      <a href="/admin">ADMON</a>
                    </div>
                  </li>
                <% } %>
              <li class="nav-ul-li">
                <div class="elemento-li">
                  <i class="fa-solid fa-user"></i>
                  <a href="/auth/profile">PROFILE</a>
                </div>
              </li>
              <li class="nav-ul-li">
                <div class="elemento-li">
                  <i class="fa-solid fa-right-from-bracket"></i>
                  <a href="/auth/logout">LOG OUT</a>
                </div>
              </li>
              <% } else { %>
              <li class="nav-ul-li">
                <div class="elemento-li">
                  <i class="fa-solid fa-id-card"></i>
                  <a href="/auth/register">REGISTER</a>
                </div>
              </li>
              <li class="nav-ul-li">
                <div class="elemento-li">
                  <i class="fa-solid fa-right-to-bracket"></i>
                  <a href="/auth/login">LOGIN</a>
                </div>
              </li>
              <% } %>
            </ul>
          </nav> 
        <div class="burguer-menu">
            <i class="fas fa-solid fa-bars"></i>    
          </div>
    </header>