/*------MAIN------*/
main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  margin: 8px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px #92d2e9;
  border-radius: 5px;
  padding: 5px;
}

h1{
  padding:10px;
  font-size: 30px;
  border-bottom: 1px solid #222222;
}

.container{
  padding:10px;
  width: 100%;
  box-sizing: border-box;
}

main section table{
  width: 100%;
  border-collapse: collapse;
  table-layout:auto;
}

main section table thead{
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid lightgrey;
}

main section table thead tr{
  border: none;
  text-align: center;
}

main section table thead tr td{
  padding: 5px;
}

.q{
  width: 40px;
  height: 20px;
  padding: 1px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

main section table tbody{
  border-bottom: 1px solid lightgrey;
  border-radius: 1px;
}

main section table tbody tr{
  border: none;
  text-align: center;
}

main section table tbody tr td{
  padding: 5px;
}

main section table tbody tr td a i{
  color: black;
}

h2{
  font-size: 14px;
  font-weight: lighter;
}

main section.continuar{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

main section a{
  text-decoration: none;
}

.boton-seguir{
  display:flex;
  padding: 10px;
  border:none;
  border-radius: 5px;
  background-color: lightblue;
  align-items: center;
}

.boton-seguir:hover{
  font-weight: bold;
}

h3{
  padding: 5px;
}

.totales{
  padding: 5px;
  display: flex;
  justify-content: left;
  font-weight: bold;
}

main section div.total{
  padding: 5px;
  width: 10%;
  text-align: left;
}

main section div.suma-total{
  padding: 5px;
  width: 90%;
  text-align: left;
}

main div.finalizar{
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

div .boton-pagar{
  display:flex;
  border:none;
  border-radius: 5px;
  background-color: lightblue;
  align-items: center;
  text-align: center;
  padding:10px;
}

.boton-pagar:hover{
  font-weight: bold;
}

/*----------*/