/*----Items ADMON------*/
main {
  margin: 10px auto;
  box-sizing: content-box;
}

h2 {
  text-align: center;
  font-size: 32px;
  margin: 5px;
  padding: 10px 0px;
}

h3 {
  text-align: center;
  font-size: 25px;
  margin: 5px;
  padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  margin: 8px;
}

.main-admon {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: auto;
}

.main-admon-div {
  padding: 10px;
  margin: 10px;
  background-color: #92d2e9;
  border-radius: 10px;
}

.main-section {
  display: block;
  box-sizing: border-box;
  margin: 8px;
  box-shadow: 3px 3px 3px #92d2e9;
  border-radius: 5px;
}

main section p {
  text-align: center;
  font-size: 20px;
  box-sizing: border-box;
  padding: 5px;
  margin: 5px;
}

main section article p a {
  color: black;
}

/* media queries */
@media (min-width: 150px) {
  main {
    width: 80%;
  }
}

@media (min-width: 769px) {
  main {
    width: 95%;
  }
}

@media (min-width: 992px) {
  .main-admon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
  }
}