:root {
    /*--- blues ---*/
    --main-blue-color: #36A5D5;
    --main-blue90-color: #40ADD6;
    --main-blue50-color: #95D1E8;
    --main-blue10-color: #EAF5FA;
    
    /*--- grays ---*/
    --main-gray-color: #7C868C;
    --main-gray90-color: #899197;
    --main-gray50-color: #BDC2C5;
    --main-gray10-color: #F2F3F3;
    
    /*--- blacks ---*/
    --main-black-color: #222222;
    --main-black90-color: #2C2F33;
    --main-black50-color: #8A8B8D;
    --main-black10-color: #E8E8E8;

    /*--- others ---*/
    --main-red-color: #C02539;
    --main-orange-color: #F69045;
}
  
* {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

h1{
    font-size: 2em; /* 24px */
}
h2{
    font-size: 1.66em; /* 20px */
}
h3{
    font-size: 1.33em; /* 16px */
}
h4{
    font-size: 1.16em; /* 14px */
}
h5{
    font-size: 0.83em; /* 10px */
}
h6{
    font-size: 0.5em; /* 6px */
}

body{
    width: 100vw;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: black;
    background: #e9f6fa;
    display: flex;
    flex-direction: column;
}

/*---------Header------*/

header {
    position: sticky;
    top: 0;
    height: 100px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
    background-image: url("/img/Background_AirSound.png");
    background-size: contain;
    /*background: linear-gradient(90deg, rgba(54,165,213,0.9) 0%, rgba(54,165,213,0.5) 45%, rgba(152,209,233,0.1) 100%);
    /*background: linear-gradient(90deg, rgba(54,165,213,0.9) 0%, rgba(54,165,213,0.5) 49%, rgba(152,209,233,0.1) 80%, rgba(255,255,255,1) 100%);
    */
}

.navbar{
    display: none;
}

.burguer-menu {
    margin: 0px 20px 0px 0px;
    color: var(--main-black90-color);
    box-shadow: 3px 3px 3px var(--main-black90-color);
    width: 35px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid var(--main-black-color);
    text-align: center;
}
  
  .burguer-menu:hover {
    background-color: var(--main-black-color);
    box-shadow: 3px 3px 3px #ffffff;
    color: #ffffff;
}
  
.fa-bars {
    font-size: 30px;
}
  
.logo-container {
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    padding: 40px;
}
  
.logo {
    width: 100%;
    height: 100%;
}
  
/*------FOOTER------*/

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: auto;    
    background-color: var(--main-blue90-color);
    color: #ffffff;
}

.social-media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid var(--main-blue10-color);
    
}

.mini-logo-container{
    width: 30px;
    height: 30px;
    padding: 5px;
}

.social-media p{
    width: 60%;
    text-align: left;
}

.social-media div{
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 0.4em;
}

.about{
    width: 100%;
    background: linear-gradient(180deg, rgba(64,173,214,1) 0%, rgba(64,173,214,1) 5%, rgba(149,209,232,1) 100%);
}

.about-section{
    padding: 0em 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;    
    font-weight: 200;
}
.about-section h3{
    padding: 0.4em 0em;
    text-align: left;
    border-bottom: 1px solid var(--main-blue10-color);
}

.grid-section{
    display: grid;;
    grid-template-columns: auto auto;
    column-gap: 10px;
    padding: 1em 0em;
}

.grid-element{
    padding: 0.2em 0.1em;
}
p.grid-element{
    text-align: left;   
}
/*----- MEDIA QUERIES -----*/


@media (min-width: 769px){

    /*---- HEADER ----*/
    
    .navbar{
        margin: 0px 20px 0px 0px;
    }

    .navbar, header nav ul {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
    }

    .burguer-menu {
         display: none;
    }
    
      .navbar,
      .nav-ul {
        height: 100%;
      }
      .nav-ul {
        display: flex;
        flex-direction: row;
        gap: 1.5em;
        list-style: none;
        padding-right: 20px;
        align-items: center;
      }
      
      .elemento-li {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0.3em;
        margin: 20px 0px;
        height: 100%;
      }
      
      a {
        text-decoration: none;
        color: black
      }
    
      .nav-ul-li:hover {
        border-bottom: 2px solid red;
      }
      
      .nav-ul-li:hover {
        border-bottom: 2px solid red;
        /*color: red;*/
      }

    /*---- FOOTER ----*/
    .about-section{
        width: fit-content;
    }
    
}