/*---------Header ------*/
header {
    background-color: var(--main-blue);
    /* background-image: url("/img/Background_AirSound.png"); */    
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-content{
    margin: 2em 1em;
    height: 6em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

}

.logo{    
    width: 6em;
    height: 100%;
}

/*--------- Main ------*/
main{
    color: var(--main-black);
}

/*--------- Footer ------*/
footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--main-black90);
}

.contain-foo-SM{
    background-color: var(--main-blue);

}

.foo-SM{
    height: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.5em 2em;
    color: var(--main-white);
}

.foo-RRSS{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: center;
}

.brand-icon{ 
    width: 3em;
    height: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    border: 0.2em solid var(--main-blue50);
    text-decoration: none;
    color: var(--main-white);
    background: var(--main-blue90);
}

.brand-icon i{  
    font-size: 2em;
}

.ig-icon:hover{    
    background: var(--main-instagram);
    border: none;
}

.yt-icon:hover{    
    background: var(--main-red);
    border: none;
}

.about{
    margin: 1em 0em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    color: var(--main-white)
}

.show-about{
    margin: 0em 1em 1em;
    justify-content: space-around;
    gap: 1em;
}

.about-sub-elements{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0.2em solid var(--main-blue);
    background: var(--main-blue);
    border-radius: 0.5em;
    
}
.about-sub-elements p {
    padding: 0.8em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--main-blue10);
    color: var(--main-black);
    border-radius: 0.3em;
}

.about-sub-elements div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 2.5em;
    border-right: 0.2em solid var(--main-blue);
    background: var(--main-blue);
   
}

.inactive{
    display: none;
}

.active{
    display: flex;
}

/*--------- Media Queries ------*/

/* pantallas pequeñas*/
@media (max-width: 599.99px) { 

    /*--------- Header ------*/
    .burguer-menu{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 0.2em solid var(--main-white);
        border-radius: 0.5em;
        width: 4.5em;
        height: 4.5em;
    }
    .fa-bars{
        font-size: 2.5em;
        padding: 0.25em;
    }
    .navbar{
        display:none;
    }

    /*--------- Footer ------*/    
    .show-about{      
        flex-direction: column;
        align-items: center;
    }

}

/* Móviles en horizontal o tablets en vertical */
@media (min-width: 600px) {

    /*--------- Header ------*/ 
    .burguer-menu{
        display:none;
    }
    
    .navbar{
        border: 0.2em solid var(--main-blue50);
        height: 60%;
        border-radius: 0.4em;
        display:block;        
    }

    .nav-ul{
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        list-style: none;
        height: 100%;
        
    }
    
    .nav-ul-li{
        list-style: none;
        display:flex;
        justify-content: center;
        height: 100%;
        width: 8.5em;
        border-right: 0.2em solid var(--main-blue50);
    }
    
    .nav-ul-li:last-child{
        border-right: none;
    }

    .elements{
        text-decoration: none;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: inherit;
        gap: 0.4em;
    }

    .dd-element{
        width: auto;
    }
    .dropdown-elements{
        display: flex;
        flex-direction: row;
        width: 100%;        
        justify-content: center;
        gap: 0.4em;
        align-items: center;
        padding: 0 1em;
        color: inherit;
        background-color: transparent;
        border: none;
        position: relative;
    }

    .dropdown-content {
        display: none;
        position: absolute;        
        width: 8.7em;
        border: 0.2em solid var(--main-blue50);
        top: 3.2em;
        background-color: var(--main-blue10);
        z-index: 1;
    }
   
    .dd-c-element{        
        padding-left: 0.4em;
        height: 4em;
        border-bottom: 0.2em solid var(--main-blue50);
        color: var(--main-black);
        text-align: center;        
        justify-content: flex-start;
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 0.4em;
        text-decoration: none;
    }
    
    .dd-c-element:last-child{
        border-bottom: none;
    }
    
    .dropdown-elements:hover .dropdown-content {
        display: flex;
        flex-direction: column;
        color: var(--main-white);
    }

    .dropdown-elements:hover .dropdown-content .dd-c-element:hover{
        background-color: var(--main-gray90);
        color: inherit;
    }

    .icon{
        font-size: 1.8em;
    }
    
    .mini-icon{
        font-size: 1.4em;
    }
    .li-element-text{
        font-size: 1em;
    }
    
    .nav-ul-li:hover{
        background-color: var(--main-blue50);
        color: var(--main-black);
    }

    /*--------- Footer ------*/    
    .show-about{      
        flex-direction: row;
    }

}