* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 95vw;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: #e9f6fa;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    margin: 8px;
}

.container {
    position: relative;
    width: 70%;
    height: 70%;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: #000;
    margin: auto;
}

.input {
    font-size: 10px;
    width: 90%;
    padding: 5px;
    border-radius: 5px;
}

.boton-login {
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}

/*
input[type="email"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}*/

/*------HEADER------*/

header {
    background-image: url('https://github.com/sorrego98/Grupo_9_SpaceCORP/blob/master/documentacion/Background_AirSound.png?raw=true');
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 20px;
}

.burguer-menu {
    color: black;
    box-shadow: 3px 3px 3px #222222;
    width: 35px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
  }
  
.fa-bars {
    font-size: 30px;
}

.logo-container {
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    padding: 40px;
}

.logo {
    width: 100%;
    height: 100%;
}

header nav {
    font-size: 12px;
    padding: 10px;
    display: none;
    list-style-type: none;
}

header nav ul li {
    padding: 10px;

}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

/*------FOOTER------*/

footer {
    align-content: flex-end;
    font-size: 16px;
}

footer div {
    display: flexbox;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    background-color: #e9f6fa;
}

section div p {
    text-align: center;
    margin: 5px 0px;
}

section div h4 {
    text-align: center;
}

footer div {
    box-sizing: border-box;
    margin: 8px;
    box-shadow: 3px 3px 3px #92d2e9;
    border-radius: 5px;
}

.nolink {
    text-decoration: none;
    color: black;
}

/*------HOOVER------*/

.nolink-yt:hover {
    background-color: #bc5e6a;
    color: #ffffff;
    box-shadow: 3px 3px 3px #c02539;
    border-radius: 5px;
}

.nolink-ig:hover {
    background-color: #f69045;
    color: #ffffff;
    box-shadow: 3px 3px 3px #f69045;
    border-radius: 5px;
}

.nolink-fb:hover {
    background-color: #3b5998 ;
    color: #ffffff;
    box-shadow: 3px 3px 3px #3b5998 ;
    border-radius: 5px;
}

.nolink-gg:hover {
    background-color: #db4a39 ;
    color: #ffffff;
    box-shadow: 3px 3px 3px #db4a39 ;
    border-radius: 5px;
}

.nolink-ms:hover {
    background-color: #FFB900;
    color: #ffffff;
    box-shadow: 3px 3px 3px #FFB900;
    border-radius: 5px;
}

.boton-login:hover {
    background-color: #3b5998;
    color: #ffffff;
    box-shadow: 3px 3px 3px #3b5998;
    border-radius: 5px;
}

.burguer-menu:hover {
    background-color: #3b5998;
    box-shadow: 3px 3px 3px #ffffff;
    color: #ffffff;
  }



/*------SOCIAL MEDIA------*/

.social-media {
    margin-top: 20px;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.icons a {
    margin: 0 5px;
}

/*----------*/

@media (min-width: 769px) {
    div iframe {
        width: 48vw;
        height: 27vw;
    }

    .main-team {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: auto;
    }

    header nav,
    header nav ul {
        display: flex;
        font-size: 12px;
        padding: 10px;
        list-style-type: none;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
    }

    .burguer-menu {
        display: none;
      }
}        