.container {
    position: relative;
    width: 400px;
    height: 70%;
    max-width: 70%;
    max-height: 100%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: #000;
    margin: 10px auto;
}

.input {
    font-size: 12px;
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    border-color: transparent;
}

.boton-login {
    font-size: 14px;
    font-weight: bold;
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #36A5D5;
    border-color: #36A5D5;
}

.form-group{
    text-align: center;
}
.checkbox-inline{
    font-size: 12px;
    padding: 5px;
}

.boton-crear {
    font-size: 12px;
    color:#36A5D5;
    font-weight: bold;
    width: 90%;
    padding: 5px;
    border-color: transparent;
    background-color: transparent;

}

/*
input[type="email"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}*/


/*------HOOVER------*/

.nolink-yt:hover {
    background-color: #bc5e6a;
    color: #ffffff;
    box-shadow: 3px 3px 3px #c02539;
    border-radius: 5px;
}

.nolink-ig:hover {
    background-color: #f69045;
    color: #ffffff;
    box-shadow: 3px 3px 3px #f69045;
    border-radius: 5px;
}

.nolink-fb:hover {
    background-color: #3b5998 ;
    color: #ffffff;
    box-shadow: 3px 3px 3px #3b5998 ;
    border-radius: 5px;
}

.nolink-gg:hover {
    background-color: #db4a39 ;
    color: #ffffff;
    box-shadow: 3px 3px 3px #db4a39 ;
    border-radius: 5px;
}

.nolink-ms:hover {
    background-color: #FFB900;
    color: #ffffff;
    box-shadow: 3px 3px 3px #FFB900;
    border-radius: 5px;
}

.boton-login:hover {
    color: #ffffff;
    box-shadow: 3px 3px 3px #36A5D5;
    border-radius: 5px;
}

.boton-crear:hover {
    font-size: 14px;
}

/*------SOCIAL MEDIA------*/

.social-media-log {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.icons a {
    margin: 0 5px;
}
