.canva{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    height: 100%;

}
.user-data{
    display: flex;
    gap:2em;
    height: 100%;

}

.user-data > section{
    height: 100%;
    background: #c02539;
}

.user-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    
}
main > section > aside{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.token-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1em;
    padding: 1em;
    height: 100%;
    background: var(--main-blue50);
    border-radius: 0.5em;
}

.token-image{
    border-radius: 50%;
    border: 2em solid var(--main-blue50);
    margin-bottom:-1em;
}

.token-image > img{
    width: 100%;
    display: block;
}

.token-row{
    display: flex;
    flex-direction: row;
    border-radius: 0.25em;
    width: 100%;
    height: clamp(2em, 3em, 4em);
    text-transform: uppercase;
    justify-content: flex-start;
    background: var(--main-white);
}

.token-row:hover{
    height: 3.5em;
    box-shadow: 0.3em 0.3em 0.3em -0.2em rgba(0,0,0,0.75);
}

.token-element{
    display: grid;
    place-items: center;
    border: 0.10em solid var(--main-gray90);
    background: var(--main-gray50);
    color: var(--main-black);
    height: 100%;
    width: clamp(6.6em,9em,9em);
    padding: 0.2em;
}



.token-info{
    display: grid;
    place-items: center;
    border: 0.1em solid var(--main-gray90);
    border-left:none;
    background: var(--main-gray10);
    color: var(--main-black);
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 0.2em;
}

.btn-row{
    width: clamp(45%,50%,70%);
    height: 2em;
    font-size: large;
}

.edit-btn{
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    

}

.btn-row:hover{
    height: 2.5em;
    box-shadow: 0.3em 0.3em 0.3em -0.2em rgba(0,0,0,0.75);
}

.container {
    position: relative;
    width: 400px;
    height: 70%;
    max-width: 70%;
    max-height: 100%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: #000;
    margin: 10px auto;
}

.input {
    font-size: 12px;
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    border-color: transparent;
}

.boton-login {
    font-size: 14px;
    font-weight: bold;
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #36A5D5;
    border-color: #36A5D5;
}

.form-group{
    text-align: center;
}
.checkbox-inline{
    font-size: 12px;
    padding: 5px;
}

.boton-crear {
    font-size: 12px;
    color:#36A5D5;
    font-weight: bold;
    width: 90%;
    padding: 5px;
    border-color: transparent;
    background-color: transparent;

}

/*
input[type="email"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}*/


/*------HOOVER------*/

.nolink-yt:hover {
    background-color: #bc5e6a;
    color: #ffffff;
    box-shadow: 3px 3px 3px #c02539;
    border-radius: 5px;
}

.nolink-ig:hover {
    background-color: #f69045;
    color: #ffffff;
    box-shadow: 3px 3px 3px #f69045;
    border-radius: 5px;
}

.nolink-fb:hover {
    background-color: #3b5998 ;
    color: #ffffff;
    box-shadow: 3px 3px 3px #3b5998 ;
    border-radius: 5px;
}

.nolink-gg:hover {
    background-color: #db4a39 ;
    color: #ffffff;
    box-shadow: 3px 3px 3px #db4a39 ;
    border-radius: 5px;
}

.nolink-ms:hover {
    background-color: #FFB900;
    color: #ffffff;
    box-shadow: 3px 3px 3px #FFB900;
    border-radius: 5px;
}

.boton-login:hover {
    color: #ffffff;
    box-shadow: 3px 3px 3px #36A5D5;
    border-radius: 5px;
}

.boton-crear:hover {
    font-size: 14px;
}

.burguer-menu:hover {
    background-color: #3b5998;
    box-shadow: 3px 3px 3px #ffffff;
    color: #ffffff;
  }



/*------SOCIAL MEDIA------*/

.social-media-log {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.icons a {
    margin: 0 5px;
}

/*----------*/
/*--------- Media Queries ------*/

/* pantallas pequeñas*/
@media (max-width: 599.99px) { 
    
    /* para cajas de logueo, registro, etc*/
    .canva{
        align-items: center;
        justify-content: center;
    }

    .user-data{        
        flex-direction: column;
        align-items: center;
    }
    
    .dimention-box{
        width: clamp(5em, 100%, 25em);
        
    }
    
}

/* Móviles en horizontal o tablets en vertical */
@media (min-width: 600px) {
    
    /* para cajas de logueo, registro, etc*/
    .dimention-box{
        width: clamp(20em, 100%, 35em);
    }
    
    .user-data{        
        flex-direction: row;
        align-items: center;
    }
 
}