* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  background-color: #e9f6fa;
}

/*------HEADER------*/

header {
  background-image: url('https://github.com/sorrego98/Grupo_9_SpaceCORP/blob/master/documentacion/Background_AirSound.png?raw=true');
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 20px;
}

.burguer-menu {
  color: black;
  box-shadow: 3px 3px 3px #222222;
  width: 35px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

.burguer-menu:hover {
  background-color: #222222;
  box-shadow: 3px 3px 3px #ffffff;
  color: #ffffff;
}

.fa-bars {
  font-size: 30px;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 40px;
}

.logo {
  width: 100%;
  height: 100%;
}

header nav{
  font-size: 12px;
  padding: 10px;
  display: none;
  list-style-type: none;
}

header nav ul li {
  padding: 10px;

}
header nav ul li a{
  text-decoration: none;
  color:black;
  font-size: 14px;
}

/*------MAIN------*/

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  margin: 8px;
}

h2 {
  font-size: 18px;
}

.products {
  display: flex;
  gap: 10px;
  height: 150px;
  background-color: azure;
  border-radius: 6px;
  border: 1px solid black;
  position: relative;
}

.products-img {
  border-radius: 5px;
}

.product-img-src {
  object-fit: cover;
  border-radius: 6px;
  padding: 4px;
  min-width: 100%;
  height: 100%;
}

.products-desc {
  background-color: blueviolet;
  min-width: 70%;
}
.add-product {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

/*------FOOTER------*/

footer {
  align-content: flex-end;
  font-size: 12px;
}

footer div {
  display: flexbox;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  background-color: #e9f6fa;
}

section div p {
  text-align: center;
  margin: 5px 0px;
}

section div h4 {
  text-align: center;
}

footer div {
  box-sizing: border-box;
  margin: 8px;
  box-shadow: 3px 3px 3px #92d2e9;
  border-radius: 5px;
}

.nolink {
  text-decoration: none;
  color: black;
}

.nolink-yt:hover {
  background-color: #bc5e6a;
  color: #ffffff;
  box-shadow: 3px 3px 3px #c02539;
  border-radius: 5px;
}

.nolink-ig:hover {
  background-color: #f69045;
  color: #ffffff;
  box-shadow: 3px 3px 3px #f69045;
  border-radius: 5px;
}



@media (min-width: 769px){
  div iframe{
      width: 48vw;
      height: 27vw;
  }

  .main-team{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: auto;    
  }

  header nav, header nav ul {
          display: flex;
          font-size: 12px;
          padding: 10px;
          list-style-type: none;
          justify-content: space-between;
          align-items: center;
          text-decoration: none;
  }

  .burguer-menu {
      display: none;
    }
}