/*---------Registro--------*/

.form-container {
align-content: center;
   position: relative;
    width: 400px;
    height: 70%;
    max-width: 70%;
    max-height: 100%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: #000;
    margin: 10px auto;
}

.form {
  width: 90%;
  text-align: center;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  text-align: center;
}

.form-control {
  font-size: 12px;
  width: 90%;
  padding: 5px;
  border-radius: 5px;
  border-color: transparent;
}

.form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.form-button {
  font-size: 14px;
    font-weight: bold;
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #36A5D5;
    border-color: #36A5D5;
}


.w-100{
  max-width: 100px;
}

.alert-danger{
 margin: 15px;
  color: red;
  text-align: center;
}

li{
  margin: 5px;
  color: red;
  text-align: left;
}

.form-noregister{
  align-content: center;
   position: relative;
    width: 400px;
    height: 70%;
    max-width: 70%;
    max-height: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: #000;
    margin: 10px auto; 
}

.boton-iniciar {
  font-size: 12px;
  color:#36A5D5;
  font-weight: bold;
  width: 90%;
  border-color: transparent;
  background-color: transparent;
  align-content: center;
  text-align: center;

}

/*------HOOVER------*/

.nolink-yt:hover {
  background-color: #bc5e6a;
  color: #ffffff;
  box-shadow: 3px 3px 3px #c02539;
  border-radius: 5px;
}

.nolink-ig:hover {
  background-color: #f69045;
  color: #ffffff;
  box-shadow: 3px 3px 3px #f69045;
  border-radius: 5px;
}

.nolink-fb:hover {
  background-color: #3b5998 ;
  color: #ffffff;
  box-shadow: 3px 3px 3px #3b5998 ;
  border-radius: 5px;
}

.nolink-gg:hover {
  background-color: #db4a39 ;
  color: #ffffff;
  box-shadow: 3px 3px 3px #db4a39 ;
  border-radius: 5px;
}

.nolink-ms:hover {
  background-color: #FFB900;
  color: #ffffff;
  box-shadow: 3px 3px 3px #FFB900;
  border-radius: 5px;
}

.form-button:hover {
  color: #ffffff;
    box-shadow: 3px 3px 3px #36A5D5;
    border-radius: 5px;
}

.boton-iniciar:hover {
  font-size: 14px;
}

/*------SOCIAL MEDIA------*/

.social-media-log {
  text-align: center;
  width: 90%;
}

.icons {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.icons a {
  margin: 0 5px;
}

.form-container2 {
  align-content: center;
   position: relative;
    width: 400px;
    height: 70%;
    max-width: 70%;
    max-height: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: #000;
    margin: 10px auto;
}

.form2 {
  width: 300px;
  text-align: center;
}
