/*---------Registro--------*/

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  margin: 8px;
  box-shadow: 3px 3px 3px #92d2e9;
  border-radius: 5px;
}

.form {
  width: 300px;
  text-align: center;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  text-align: center;
}

.form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.form-button {
  width: 100%;
  padding: 10px;
  background-color: #222222;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.form-button:hover {
  background-color: #111111;
}

/*------SOCIAL MEDIA------*/

.social-media-log {
  margin-top: 20px;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.icons a {
  margin: 0 5px;
}

.form-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 8px;
  box-shadow: 3px 3px 3px #92d2e9;
  border-radius: 5px;
}

.form2 {
  width: 300px;
  text-align: center;
}
