<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/mainstyles.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Header</title>
  </head>
  <body>
    <header>

        <div class="logo-container">
            <img
              class="logo"
              src="https://github.com/sorrego98/Grupo_9_SpaceCORP/blob/master/documentacion/logo.png?raw=true"
              alt="Logo AS Studio"
            />
          </div>
        <nav>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Productos</a></li>
                <li><a href="/contacts">Contacto</a></li>
                <li><a href="/registration">Registro <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/productCart">Mi Carrito <i class="fas fa-shopping-basket"></i></a></li>
                
            </ul>
        </nav>
        <div class="burguer-menu">
            <i class="fas fa-solid fa-bars"></i>    
          </div>
    </header>
    <main>
    </main>
    <footer>
      <div>
        <section>
            <div>
                <h4><i class="fa-solid fa-location-dot"></i> AirSound Studio</h4>
                <p>Valle del Aburrá, La Estrella, Colombia</p>
            </div>
        </section>
        <section>
            <div>
                <h4></i> Nuestro Contacto</h4>
                <p><i class="fas fa-solid fa-phone"></i> Teléfono: (+57) 3193386594</p>
                <p><i class="fas fa-solid fa-envelope"></i> Email: airsoundmusica@gmail.com</p>
                <p></i><a href="/contacts" class="nolink"><i class="fas fa-solid fa-inbox"></i> Escríbenos</a></p>
            </div>
        </section>
        <section>
            <div>
                <h4>Nuestras Redes</h4>
                <p><a href="https://www.instagram.com/airsoundstudio/?hl=es-la" class="nolink nolink-ig"><i class="fa-brands fa-instagram"></i> Instagram</a></p>
                <p><a href="https://www.youtube.com/@recfilmsmedellin" class="nolink nolink-yt"><i class="fa-brands fa-youtube"></i> YouTube</a></p>
            </div>
        </section>
      </div>
  </footer>
  </body>
</html>
