<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirSound Studio</title>
    <link rel="stylesheet" href="./css/homestyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <header>
        Acá viene el header
    </header>
    <main>
        <section>
            <h2>Quienes somos</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente ipsam quo est quisquam sunt provident aliquid. Voluptatum exercitationem modi adipisci fugit pariatur dolorem asperiores ab architecto harum ea, odit perferendis!</p>
        </section>
        <section>
            <h2>Nuestra familia</h2>
            <article class="main-team">
                <div>
                    <p><i class="fa-solid fa-user lg"></i></p>
                    <p>CEO</p>
                    <p><a href="https://www.instagram.com/juancamilomusica/">@juancamilomusica</a></p>               
                </div>
                <div>
                    <p><i class="fa-solid fa-user lg"></i></p>
                    <p>Ingeniero de Sonido</p>
                    <p><a href="https://www.instagram.com/jaisonmuriel/">@jaisonmuriel</a></p>               
                </div>
                <div>
                    <p><i class="fa-solid fa-user lg"></i></p>
                    <p>Productor Musical</p>
                    <p><a href="https://www.instagram.com/david_usma/">@david_usma</a></p>               
                </div>
            </article>
        </section>
        <section>
            <h2>Últimas producciones</h2>
            <article>
                <p>Últimas producciones en las que hemos tenido participación</p>
                <img src="/img/ProducionesExample.PNG" alt="Ejemplo Slide produciones" width="95%">
            </article>
            
        </section>
    </main>
    <footer>
        <div>
            <section>
                <div>
                    <h4><i class="fa-solid fa-location-dot"></i> AirSound Studio</h4>
                    <p>Valle del Aburrá, La Estrella, Colombia</p>
                </div>
            </section>
            <section>
                <div>
                    <h4></i> Nuestro Contacto</h4>
                    <p><i class="fa-solid fa-phone"></i> Teléfono: (+57) 3193386594</p>
                    <p><i class="fa-solid fa-envelope"></i> Email: airsoundmusica@gmail.com</p>
                    <p></i><a href="contacts" class="nolink"><i class="fa-solid fa-inbox"></i> Escríbenos</a></p>
                </div>
            </section>
            <section>
                <div>
                    <h4>Nuestras redes</h4>
                    <p><a href="https://www.instagram.com/airsoundstudio/?hl=es-la" class="nolink nolink-ig"><i class="fa-brands fa-instagram"></i> Instagram</a></p>
                    <p><a href="https://www.youtube.com/@recfilmsmedellin" class="nolink nolink-yt"><i class="fa-brands fa-youtube"></i> YouTube</a></p>
                </div>
            </section>
        </div>  
    </footer>
</body>
</html>