<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirSound Studio</title>
    <link rel="stylesheet" href="css/homestyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img
              class="logo"
              src="https://github.com/sorrego98/Grupo_9_SpaceCORP/blob/master/documentacion/logo.png?raw=true"
              alt="Logo AS Studio"
            />
          </div>
        <nav>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Productos</a></li>
                <li><a href="/contacts">Contacto</a></li>
                <li><a href="/register">Registro <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/productCart">Mi Carrito <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burguer-menu">
            <i class="fas fa-solid fa-bars"></i>    
          </div>
    </header>
    <main>
        <section>
            <h2>Quiénes somos</h2>
            <p>AirSound ofrece distintos servicios musicales y de audio a tu medida como captura, mezcla, masterización, arreglos musicales, entre otros.</p>
            <p>Nuestro objetivo  es dar vida a grandes ideas, sacar provecho de ellas y salir con un gran proyecto, cumpliendo las exigencias del mercado actual.</p>
            <p>Nuestro propósito es apoyar, ayudar, cambiar y transformar vidas.</p>
        </section>
        <section>
            <h2>Nuestra familia</h2>
            <article class="main-team">
                <div class="main-team-div">
                    <p><i class="fa-solid fa-user lg"></i></p>
                    <p>CEO</p>
                    <p><a href="https://www.instagram.com/juancamilomusica/">@juancamilomusica</a></p>               
                </div>
                <div class="main-team-div">
                    <p><i class="fa-solid fa-user lg"></i></p>
                    <p>Ingeniero de Sonido</p>
                    <p><a href="https://www.instagram.com/jaisonmuriel/">@jaisonmuriel</a></p>               
                </div>
                <div class="main-team-div">
                    <p><i class="fa-solid fa-user lg"></i></p>
                    <p>Productor Musical</p>
                    <p><a href="https://www.instagram.com/david_usma/">@david_usma</a></p>               
                </div>
            </article>
        </section>
        <section>
            <h2>Últimas producciones</h2>
            <article>
                <p>Últimas producciones en las que hemos tenido participación</p>
                <div class="videos">
                    <div>
                        <iframe width="auto" height="auto" src="https://www.youtube-nocookie.com/embed/H7tbjuHHbsQ" title="LoL- El Poeta Halley" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div>
                        <iframe width="auto" height="auto" src="https://www.youtube-nocookie.com/embed/lfeRc9tRQzM" title="MdB- Cuento al viento" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div>
                        <iframe width="auto" height="auto" src="https://www.youtube-nocookie.com/embed/7OlzxfSKjtI" title="DD- Quanuqueando" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>                    
                </div>
            </article>
        </section>
        <section>
            <h2>Galería</h2>
            <article>
                <p>Un poco de nosotros</p>
                <div>
                    <div class="image-center">
                        <img src="/img/drum.jpg" alt="Drumrec" width="90%">
                    </div>
                    <div class="image-center">
                        <img src="/img/jazzy.jpg" alt="Jazzy by La Suite" width="90%">
                    </div>
                    <div class="image-center">
                        <img src="/img/sirenos.jpg" alt="Malé by The Siderens" width="90%">
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div>
            <section>
                <div>
                    <h4><i class="fa-solid fa-location-dot"></i> AirSound Studio</h4>
                    <p>Valle del Aburrá, La Estrella, Colombia</p>
                </div>
            </section>
            <section>
                <div>
                    <h4></i> Nuestro Contacto</h4>
                    <p><i class="fas fa-solid fa-phone"></i> Teléfono: (+57) 3193386594</p>
                    <p><i class="fas fa-solid fa-envelope"></i> Email: airsoundmusica@gmail.com</p>
                    <p></i><a href="/contacts" class="nolink"><i class="fas fa-solid fa-inbox"></i> Escríbenos</a></p>
                </div>
            </section>
            <section>
                <div>
                    <h4>Nuestras Redes</h4>
                    <p><a href="https://www.instagram.com/airsoundstudio/?hl=es-la" class="nolink nolink-ig"><i class="fa-brands fa-instagram"></i> Instagram</a></p>
                    <p><a href="https://www.youtube.com/@recfilmsmedellin" class="nolink nolink-yt"><i class="fa-brands fa-youtube"></i> YouTube</a></p>
                </div>
            </section>
          </div>
    </footer>
</body>
</html>