<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros Servicios</title>
    <link rel="stylesheet" href="./css/productsstyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo-container">
            <img
              class="logo"
              src="https://github.com/sorrego98/Grupo_9_SpaceCORP/blob/master/documentacion/logo.png?raw=true"
              alt="Logo AS Studio"
            />
          </div>
        <nav>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Productos</a></li>
                <li><a href="/contacts">Contacto</a></li>
                <li><a href="/register">Registro <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/productCart">Mi Carrito <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burguer-menu">
            <i class="fas fa-solid fa-bars"></i>    
          </div>
    </header>
    <main>
        <h2 class="section-title">Servicios</h2>
        <section>
            <div class="products">
                <div class="service-item">
                    <i class="fas fa-guitar"></i>
                    <p class="service-name">Clases de música - Guitarra</p>
                </div>
                <div >
                    <h2 class="about-h2">Acerca del servicio</h2>
                    <article>
                        <p class="description-service">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id maiores a, numquam explicabo quae quo esse maxime aut hic ducimus!</p>
                    </article>
                    <button class="add-product">
                      <i class="fa-solid fa-cart-shopping"></i>Añadir al Carrito
                    </button>
                    <button class="buy-product">
                        <i class="fa-sharp fa-solid fa-dollar-sign"></i>9999.99
                      </button>
                  </div>
            </div>
            <div class="products">
                <div class="service-item">
                    <i class="fas fa-keyboard"></i>
                    <span class="service-name">Clases de música - Piano/Teclado</span>
                </div>
                <div >
                    <h2 class="about-h2">Acerca del servicio</h2>
                    <article>
                        <p class="description-service">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id maiores a, numquam explicabo quae quo esse maxime aut hic ducimus!</p>
                    </article>
                    <button class="add-product">
                      <i class="fa-solid fa-cart-shopping"></i>Añadir al Carrito
                    </button>
                    <button class="buy-product">
                        <i class="fa-sharp fa-solid fa-dollar-sign"></i>9999.99
                      </button>
                  </div>
            </div>
            <div class="products">
                <div class="service-item">
                    <i class="fas fa-music"></i>
                    <span class="service-name">Clases de música - Producción Musical</span>
                </div>
                <div >
                    <h2 class="about-h2">Acerca del servicio</h2>
                    <article>
                        <p class="description-service">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id maiores a, numquam explicabo quae quo esse maxime aut hic ducimus!</p>
                    </article>
                    <button class="add-product">
                      <i class="fa-solid fa-cart-shopping"></i>Añadir al Carrito
                    </button>
                    <button class="buy-product">
                        <i class="fa-sharp fa-solid fa-dollar-sign"></i>9999.99
                      </button>
                  </div>
            </div>
            <div class="products">
                <div class="service-item">
                    <i class="fas fa-microphone"></i>
                    <p class="service-name">Clases de música - Técnica vocal</p>
                </div>
                <div >
                    <h2 class="about-h2">Acerca del servicio</h2>
                    <article>
                        <p class="description-service">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id maiores a, numquam explicabo quae quo esse maxime aut hic ducimus!</p>
                    </article>
                    <button class="add-product">
                      <i class="fa-solid fa-cart-shopping"></i>Añadir al Carrito
                    </button>
                    <button class="buy-product">
                        <i class="fa-sharp fa-solid fa-dollar-sign"></i>9999.99
                      </button>
                  </div>
            </div>
            <div class="products">
                <div class="service-item">
                    <i class="fas fa-music"></i>
                    <span class="service-name">Clases de música - Teoría Musical</span>
                </div>
                <div >
                    <h2 class="about-h2">Acerca del servicio</h2>
                    <article>
                        <p class="description-service">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id maiores a, numquam explicabo quae quo esse maxime aut hic ducimus!</p>
                    </article>
                    <button class="add-product">
                      <i class="fa-solid fa-cart-shopping"></i>Añadir al Carrito
                    </button>
                    <button class="buy-product">
                        <i class="fa-sharp fa-solid fa-dollar-sign"></i>9999.99
                      </button>
                  </div>
            </div>
            <div class="products">
                <div class="service-item">
                    <i class="fas fa-drum"></i>
                    <span class="service-name">Ensayadero</span>
                </div>
                <div >
                    <h2 class="about-h2">Acerca del servicio</h2>
                    <article>
                        <p class="description-service">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id maiores a, numquam explicabo quae quo esse maxime aut hic ducimus!</p>
                    </article>
                    <button class="add-product">
                      <i class="fa-solid fa-cart-shopping"></i>Añadir al Carrito
                    </button>
                    <button class="buy-product">
                        <i class="fa-sharp fa-solid fa-dollar-sign"></i>9999.99
                      </button>
                  </div>
            </div>
            <div class="products">
                <div class="service-item">
                    <i class="fas fa-microphone-alt"></i>
                    <span class="service-name">Grabación a distancia</span>
                </div>
                <div >
                    <h2 class="about-h2">Acerca del servicio</h2>
                    <article>
                        <p class="description-service">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id maiores a, numquam explicabo quae quo esse maxime aut hic ducimus!</p>
                    </article>
                    <button class="add-product">
                      <i class="fa-solid fa-cart-shopping"></i>Añadir al Carrito
                    </button>
                    <button class="buy-product">
                        <i class="fa-sharp fa-solid fa-dollar-sign"></i>9999.99
                      </button>
                  </div>
            </div>
            <div class="products">
                <div class="service-item">
                    <i class="fas fa-headphones"></i>
                    <span class="service-name">Masterización</span>
                </div>
                <div >
                    <h2 class="about-h2">Acerca del servicio</h2>
                    <article>
                        <p class="description-service">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id maiores a, numquam explicabo quae quo esse maxime aut hic ducimus!</p>
                    </article>
                    <button class="add-product">
                      <i class="fa-solid fa-cart-shopping"></i>Añadir al Carrito
                    </button>
                    <button class="buy-product">
                        <i class="fa-sharp fa-solid fa-dollar-sign"></i>9999.99
                      </button>
                  </div>
            </div>
            <div class="products">
                <div class="service-item">
                    <i class="fas fa-sliders-h"></i>
                    <span class="service-name">Mezcla</span>
                </div>
                <div >
                    <h2 class="about-h2">Acerca del servicio</h2>
                    <article>
                        <p class="description-service">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id maiores a, numquam explicabo quae quo esse maxime aut hic ducimus!</p>
                    </article>
                    <button class="add-product">
                      <i class="fa-solid fa-cart-shopping"></i>Añadir al Carrito
                    </button>
                    <button class="buy-product">
                        <i class="fa-sharp fa-solid fa-dollar-sign"></i>9999.99
                      </button>
                  </div>
            </div>
            <div class="products">
                <div class="service-item">
                    <i class="fas fa-microphone"></i>
                    <span class="service-name">Grabación de audio</span>
                </div>
                <div >
                    <h2 class="about-h2">Acerca del servicio</h2>
                    <article>
                        <p class="description-service">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id maiores a, numquam explicabo quae quo esse maxime aut hic ducimus!</p>
                    </article>
                    <button class="add-product">
                      <i class="fa-solid fa-cart-shopping"></i>Añadir al Carrito
                    </button>
                    <button class="buy-product">
                        <i class="fa-sharp fa-solid fa-dollar-sign"></i>9999.99
                      </button>
                  </div>
            </div>
            <div class="products">
                <div class="service-item">
                    <i class="fas fa-music"></i>
                    <span class="service-name">Transcripción de fonogramas</span>
                </div>
                <div >
                    <h2 class="about-h2">Acerca del servicio</h2>
                    <article>
                        <p class="description-service">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id maiores a, numquam explicabo quae quo esse maxime aut hic ducimus!</p>
                    </article>
                    <button class="add-product">
                      <i class="fa-solid fa-cart-shopping"></i>Añadir al Carrito
                    </button>
                    <button class="buy-product">
                        <i class="fa-sharp fa-solid fa-dollar-sign"></i>9999.99
                      </button>
                  </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-container">
            <section class="footer-section">
                <div>
                    <h4><i class="fa-solid fa-location-dot"></i> AirSound Studio</h4>
                    <p>Valle del Aburrá, La Estrella, Colombia</p>
                </div>
            </section>
            <section class="footer-section">
                <div>
                    <h4></i> Nuestro Contacto</h4>
                    <p><i class="fas fa-solid fa-phone"></i> Teléfono: (+57) 3193386594</p>
                    <p><i class="fas fa-solid fa-envelope"></i> Email: airsoundmusica@gmail.com</p>
                    <p></i><a href="/contacts" class="nolink"><i class="fas fa-solid fa-inbox"></i> Escríbenos</a></p>
                </div>
            </section>
            <section class="footer-section">
                <div>
                    <h4>Nuestras Redes</h4>
                    <p><a href="https://www.instagram.com/airsoundstudio/?hl=es-la" class="nolink nolink-ig"><i class="fa-brands fa-instagram"></i> Instagram</a></p>
                    <p><a href="https://www.youtube.com/@recfilmsmedellin" class="nolink nolink-yt"><i class="fa-brands fa-youtube"></i> YouTube</a></p>
                </div>
            </section>
        </div>
    </footer>
</body>
</html>
