<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/cartstyles.css">
    <title>Registro</title>
</head>
<body>
    <header>
        <img id="logo-header" class="logo" src="/public/img/logo.png">
    </header>
    <nav></nav>
    <main>
        <section>
            <ul>
                <li><a href="#">Producto</a></li>
                <li><a href="#">Precio</a></li>
                <li><a href="#">Cantidad</a></li>
                <li><a href="#">Total</a></li>
            </ul>
        </section>
    </main>
    <footer></footer>
</body>
</html>