<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/regstyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <title>Registro</title>
</head>
<body>
    <header>
        <div class="logo-container">
            <img
              class="logo"
              src="https://github.com/sorrego98/Grupo_9_SpaceCORP/blob/master/documentacion/logo.png?raw=true"
              alt="Logo AS Studio"
            />
          </div>
          <div class="burguer-menu">
            <i class="fa-solid fa-bars"></i>    
          </div>
    <main>
        <section id="reg-container" class="container">
            <form>
                <h2>Registro</h2>
                <br>
                <label>Nombre de Usuario</label>
                <input type="text" id="input-user" class="input" required placeholder="Ingrese su nombre de usuario">
                <br>
                <label>Contraseña</label>
                <input type="password" id="input-pass" class="input" required placeholder="Ingrese su contraseña">
                <br>
                <label>Confirmar contraseña</label>
                <input type="password" id="input-pass" class="input" required placeholder="Ingrese su contraseña">
                <br>
                <label>Email</label>
                <input type="email" id="input-email" class="input" required placeholder="Ingrese su email">
                <br>
                <button>Registrarse</button>
            </form>
        </section>
    </main>
    <footer>
        <div>
            <section>
                <div>
                    <h4><i class="fa-solid fa-location-dot"></i> AirSound Studio</h4>
                    <p>Valle del Aburrá, La Estrella, Colombia</p>
                </div>
            </section>
            <section>
                <div>
                    <h4></i> Nuestro Contacto</h4>
                    <p><i class="fa-solid fa-phone"></i> Teléfono: (+57) 3193386594</p>
                    <p><i class="fa-solid fa-envelope"></i> Email: airsoundmusica@gmail.com</p>
                    <p></i><a href="contacts" class="nolink"><i class="fa-solid fa-inbox"></i> Escríbenos</a></p>
                </div>
            </section>
            <section>
                <div>
                    <h4>Nuestras redes</h4>
                    <p><a href="https://www.instagram.com/airsoundstudio/?hl=es-la" class="nolink nolink-ig"><i class="fa-brands fa-instagram"></i> Instagram</a></p>
                    <p><a href="https://www.youtube.com/@recfilmsmedellin" class="nolink nolink-yt"><i class="fa-brands fa-youtube"></i> YouTube</a></p>
                </div>
            </section>
          </div>
    </footer>
</body>
</html>