<%- include ('../../../partials/commons/head')%>
    <link rel="stylesheet" href="/css/addproducts.css">
    <title>Nuevo Miembro</title>
</head>
<%- include ('../../../partials/commons/header')%>
    <main>
        <div class="split-view">            
            <section class="form-container">
                <div class ="header-form">                    
                    <h2 class="form-title"><i class="fa-solid fa-circle-plus form-title fa-lg"></i> Añadir Miembro </h2>
                </div>
                <form class="form" method="POST" enctype="multipart/form-data" action="/admin/home/staff/add-member">
                    <div class="subitem">
                        <h3 class="center-title">Nombre del nuevo integrante</h3>
                        <input type="text" name="membername" id="membername" class="form-input form-dimention" required placeholder="Ingrese un nombre">
                    </div>

                    <div class="subitem">
                        <h3 class="center-title">Cargo del integrante</h3>
                        <input type="text" name="jobname" id="jobname" class="form-input form-dimention" required placeholder="Ingrese un cargo">
                    </div>

                    <div class="subitem">
                        <h3 class="center-title">Imagen Miembro</h3>
                        <input type="file" name="image" id="image" class="form-input image-info" required>                        
                    </div>

                    <div class="subitem">
                        <h3 class="center-title">Usuario de Instagram</h3>
                        <input type="text" name="instagramname" id="instagramname" class="form-input form-dimention" required placeholder="ej: @fatboy123">
                    </div>

                    <div class="subitem">
                        <h3 class="center-title">Link de Usuario Instagram</h3>
                        <input type="text" name="instagramurl" id="instagramurl" class="form-input form-dimention" required placeholder="Ingrese un link">
                    </div>

                    <div class="subitem">
                        <button type="submit" name="add-item" class="add-item-button form-button">Crear</button>
                    </div>
                </form>
            </section>
            
        </div>     
    </main>
    <%- include ('../../../partials/commons/footer')%>
