<%- include ('../partials/commons/head')%>
    <title>Administración General</title>
    <link rel="stylesheet" href="/css/generalAdmonstyles.css">
</head>
<%- include ('../partials/commons/header')%>
    <main>
        <h2>Derechos de Administración</h2>
        <section>
            <article class="main-admon">
                <div class="main-admon-div">
                    <p><i class="fa-solid fa-users xl"></i></p>
                    <p>Home</p>
                    <p><a href="/admin/home/staff">Staff</a></p>               
                </div>
                <div class="main-admon-div">
                    <p><i class="fa-solid fa-images"></i></p>
                    <p>Home</p>
                    <p><a href="/admin/home/galery">Galería</a></p>               
                </div>
                <div class="main-admon-div">
                    <p><i class="fa-solid fa-photo-film"></i></p>
                    <p>Home</p>
                    <p><a href="/admin/home/latestProductions">Últimas Producciones</a></p>               
                </div>
                
                <% if (locals.usuario.roles.roleName.toUpperCase() == "ADMINISTRADOR" ) { %>
                <div class="main-admon-div">
                    <p><i class="fa-solid fa-circle-play"></i></p>
                    <p>Servicios</p>
                    <p><a href="/admin/products/categories">Categorías</a></p>               
                </div>
                <div class="main-admon-div">
                    <p><i class="fa-solid fa-record-vinyl"></i></p>
                    <p>Servicios</p>
                    <p><a href="/admin/products/subcategories">Subcategorías</a></p>               
                </div>
                <div class="main-admon-div">
                    <p><i class="fa-solid fa-file-audio"></i></p>
                    <p>Servicios</p>
                    <p><a href="/admin/products/products">Productos</a></p>               
                </div>
                <div class="main-admon-div">
                    <p><i class="fa-solid fa-coins"></i></p>
                    <p>Servicios</p>
                    <p><a href="/admin/products/priceType">Tipo Precio</a></p>               
                </div>
                <div class="main-admon-div">
                    <p><i class="fa-solid fa-users-gear"></i></p>
                    <p>Usuarios</p>
                    <p><a href="/admin/users/">Tipo de Usuarios</a></p>               
                </div>
                <% } %>
            </article>
        </section>
    </main>
<%- include ('../partials/commons/footer')%>
