<%- include ('../partials/commons/head')%>
    <link rel="stylesheet" href="/css/main/contact.css">
    <title>Contacto</title>
</head>
    <%- include ('../partials/commons/header')%>
    <main>
        <div class="container-box">
            <section>
                <h1 class="box-title border-top">¡Contáctanos!</h1>
                <form action="/" method="get" class="form-box border-bottom">
                    <div class="input-control">
                        <input class="form-input-text" type="text" name="name" id="iname" required minlength="3" placeholder="Nombre">
                        <small class="error-type" id="errorName"></small>
                    </div>
                    <div class="input-control">
                        <input class="form-input-text" type="email" name="email" id="idemail" required placeholder="Email de contacto">
                        <small class="error-type" id="errorMail"></small>
                    </div>
                    <div class="input-control">
                        <input class="form-input-text" type="text" name="subject" id="idsubject" required placeholder="Asunto">
                        <small class="error-type" id="errorTitle"></small>
                    </div>                    
                    <div class="input-control">
                        <textarea class="form-input-text" name="comment" id="idcomment" required rows="7" placeholder="Escribe tu mensaje aquí"></textarea>
                        <small class="error-type" id="errorMessage"></small>
                    </div>
                    <button type="submit" class="submit-btn">enviar consulta</button>
                </form>

            </section>
        </div>
    </main>
<%- include ('../partials/commons/footer')%>