<%- include ('../partials/commons/head')%>
    <link rel="stylesheet" href="/css/contactstyles.css">
    <title>Contacto</title>
</head>
    <%- include ('../partials/commons/header')%>
    <main>
        <section class="box-data dimention-box">
            <h1 class="box-title">¡Contáctanos!</h1>
            <form action="/" method="get" class="box-form">
                <div class="box-form-item">
                    <input class="item-text" type="text" name="name" id="iname" required minlength="3" placeholder="Nombre">
                </div>
                <div class="box-form-item">
                    <input class="item-text" type="email" name="email" id="idemail" required placeholder="Email de contacto">
                </div>
                <div class="box-form-item">
                    <input class="item-text" type="text" name="subject" id="idsubject" required placeholder="Asunto">
                </div>
                
                <div class="box-form-item">
                    <textarea class="item-text" name="comment" id="idcomment" required rows="7" placeholder="Escribe tu mensaje aquí"></textarea>
                </div>
                <br>
                <div class="box-form-item">
                    <label for="idsend"></label>
                    <input class="item-text" type="submit" name="send" id="idsend">
                </div>
            </form>
        </section>
    </main>
<%- include ('../partials/commons/footer')%>