<%- include ('../partials/commons/head')%>
    <link rel="stylesheet" href="/css/homestyles.css">
    <!-- <link rel="stylesheet" href="/css/slide.css"> -->
    <title>AirSound Studio</title>
</head>
<%- include ('../partials/commons/header')%>
    <main>
        <section class="main-section">
            <h2>Quiénes somos</h2>
            <p>AirSound ofrece distintos servicios musicales y de audio a tu medida como captura, mezcla, masterización, arreglos musicales, entre otros.</p>
            <p>Nuestro objetivo  es dar vida a grandes ideas, sacar provecho de ellas y salir con un gran proyecto, cumpliendo las exigencias del mercado actual.</p>
            <p>Nuestro propósito es apoyar, ayudar, cambiar y transformar vidas.</p>
        </section>
        <section class="main-section">
            <h2>Nuestra familia</h2>
            <article class="main-team">
                <div class="main-team-div">
                    <p><i class="fa-solid fa-user lg"></i></p>
                    <p>CEO</p>
                    <p><a href="https://www.instagram.com/juancamilomusica/">@juancamilomusica</a></p>               
                </div>
                <div class="main-team-div">
                    <p><i class="fa-solid fa-user lg"></i></p>
                    <p>Ingeniero de Sonido</p>
                    <p><a href="https://www.instagram.com/jaisonmuriel/">@jaisonmuriel</a></p>               
                </div>
                <div class="main-team-div">
                    <p><i class="fa-solid fa-user lg"></i></p>
                    <p>Productor Musical</p>
                    <p><a href="https://www.instagram.com/david_usma/">@david_usma</a></p>               
                </div>
            </article>
        </section>
        <section class="main-section">
            <h2>Últimas producciones</h2>
            <article>
                <p>Últimas producciones en las que hemos tenido participación</p>
                <section class="general-videos">
                    <div class="container-carousel-videos">
                        <div class="carruseles-video" id="slider-video">
                            <section class="slider-section-video" id="slider-section-video">
                                <iframe src="https://www.youtube-nocookie.com/embed/H7tbjuHHbsQ" title="LoL- El Poeta Halley" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </section>
                            <section class="slider-section-video" id="slider-section">
                                <iframe src="https://www.youtube-nocookie.com/embed/lfeRc9tRQzM" title="MdB- Cuento al viento" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </section>
                            <section class="slider-section-video" id="slider-section">
                                <iframe src="https://www.youtube-nocookie.com/embed/7OlzxfSKjtI" title="DD- Quanuqueando" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </section>    
                            <section class="slider-section-video" id="slider-section">
                                <iframe src="https://www.youtube-nocookie.com/embed/ONvgGORQj8k" title="LMT- Buen Finde" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </section>             
                            <section class="slider-section-video" id="slider-section">
                                <iframe src="https://www.youtube-nocookie.com/embed/Pcnsgs8G5fo"  title="KR- No me beses en la boca" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </section>             
                        </div>
                        <div class="btn-leftv"><i class="fa-solid fa-circle-arrow-left"></i></div>
                        <div class="btn-rightv"><i class="fa-solid fa-circle-arrow-right"></i></div>
                    </div>
                </section>
            </article>
        </section>
        <section class="main-section">
            <h2>Galería</h2>
            <article>
                <p>Un poco de nosotros</p>
                <section class="general">
                    <div class="container-carousel">
                        <div class="carruseles" id="slider">
                            <section class="slider-section" id="slider-section">
                                <img class="img" src="/db-images/home/sirenos.jpg" alt="Malé by The Siderens">
                            </section>
                            <section class="slider-section" id="slider-section">
                                <img class="img" src="/db-images/home/jazzy.jpg" alt="Jazzy by La Suite">
                            </section>
                            <section class="slider-section" id="slider-section">
                                <img class="img" src="/db-images/home/drum.jpg" alt="Drumrec">
                            </section>
                            <section class="slider-section" id="slider-section">
                                <img class="img" src="/db-images/home/azogue.jpg" alt="El Azogue by Marea">
                            </section>
                            <section class="slider-section" id="slider-section">
                                <img class="img" src="/db-images/home/desatormentandonos.jpg" alt="desatormentandonos by Pescado Rabioso">
                            </section>
                        </div>
                        <div class="btn-left"><i class="fa-solid fa-circle-arrow-left"></i></div>
                        <div class="btn-right "><i class="fa-solid fa-circle-arrow-right"></i></div>
                    </div>
                </section>
            </article>
        </section>
        <script src="/css/scripts/scripts.js"></script>
    </main>
<%- include ('../partials/commons/footer')%>