#subtitle-data{
    border-top-left-radius: 0.5rem;
}

.sidedata-list-item{
    width: 90%;
    padding: 1rem 2rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-inline: auto;
    background: var(--main-blue);
    color: var(--main-white);
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 0.5rem;
}

.sidedata-list-item > i, a{
    color: var(--main-white);
    text-decoration: none;
}

.subtitle-maindata{
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    border-top-right-radius: 0.5rem;
}

#subtitle-table{
    color: var(--main-white);   
}

.no-maindata{
    margin-top: 3rem;
    width: 100%;
    height: 98%;
    display: grid;
    place-items: center;
    gap: 0.5rem;
}

.no-maindata > img{    
    width: 28rem;
    height: 28rem;
    border-radius: 50%;
}

.no-maindata > h3 {
    text-align: center;
    text-wrap: balance;
}
.maindata{
    display: none;
}
.maindata-content{
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    background: var(--main-blue50);
    border-bottom-right-radius: 0.5rem;
}

.add-element{
    color: var(--main-white);
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;
    background: var(--main-blue90);
    border-radius: 0.5rem;
    border: 0.1rem solid var(--main-blue10);
    cursor: pointer;

}

.add-element > i, span{
    color: inherit;
}
#table-content {
    border-collapse: collapse;
    border-bottom: 0.2rem solid black;
    text-align: center;
}

thead{
    border: 0.2rem solid black;
    background: var(--main-blue);
}

thead > tr > th {
    color: white;
    width: 4rem;
} 

tbody{
    border: 0.2rem solid black;
    background: var(--main-white);
}

tbody > tr:nth-child(odd){
    background: var(--main-gray50);
}

tbody > tr:hover{
    background: var(--main-blue90);
}

tbody > tr:hover > td ,tbody > tr:hover > td > i{
    color: var(--main-blue10);
}

th, td {
    padding: 0.4rem;
    width: fit-content;
}

td > i{
    cursor: pointer
}

.content-title-row{
    padding: 1rem 0rem;
    color: var(--main-white);
    background: var(--main-blue);
    border-inline: none;
    border-block: 0.2rem solid var(--main-black90);
}

.modal-content {
    width: clamp(30rem,80%,50rem);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.title-modal {
    position: relative;
}

.modal-content .box-title * {
    color: var(--main-white);
}

.close {
    position: absolute;
    right: 1rem;
    top: 25%;
    font-size: 3rem;
    cursor: pointer;
}

.form-container {
    width: 100%;
    background: var(--main-blue50);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.subitem{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: flex-start;
}

.form-input{
    position: inherit;
}

.list-element{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

}

.delete-element{
    background: var(--alert-error-icon)!important;
}

.delete-form-container{
    background: var(--alert-error-bg)!important;
}

/* .delete-form-container *{
    color: var(--main-white);
} */
 
#list-keyvalues *{
    font-size: 1.6rem;
    /* color: var(--main-white)!important; */
} 
#list-keyvalues{
    background: var(--alert-error-text);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: left;
    text-wrap: balance;
}

.show-btns{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-evenly;
}
.submit-btn{
    padding: 1rem 5rem!important;
    margin: 0rem!important;
    margin-inline: 0rem!important;
    display: inline;
}

.accept{
    background: var(--alert-error-icon)!important;
    border: 0.2rem solid var(--alert-error-bg);
}

.reject{
    background: var(--alert-success-icon)!important;
    border: 0.2rem solid var(--alert-success-bg);
}

#memberImage, #galleryImage, #productImage{
    width: 100%;
    max-height: 30rem;
}

@media (max-width:599px) {
    
    .box-title{
        border-top-right-radius: 0.5rem;
    }

    .add-element{
        justify-content: center;
    }
    
    .sidedata-content{
        border-bottom-right-radius: 0.5rem;
    }

    .subtitle-maindata{
        flex-direction: column;
    }
}
@media (min-width:600px) {
    
    .box-title{
        border-top-right-radius: 0.5rem;
    }
    
}