/*--------- Modales ------*/
.modal-content {
    width: clamp(30rem,80%,50rem);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.title-modal {
    position: relative;
}

.modal-content .box-title * {
    color: var(--main-white);
}

.close {
    position: absolute;
    right: 1rem;
    top: 25%;
    font-size: 3rem;
    cursor: pointer;
}

.image-container{
    width: 100%;
    height: fit-content;
    max-height: 26rem;
    
}

.show-image{
    width: 100%;
    height: 100%;
}

.box-title *{
    color: var(--main-white);
}

.form-container {
    width: 100%;
    background: var(--main-blue50);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

/* .form{    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 1em;
    justify-content: center;
    gap: 0.5em;
}
*/
.subitem{
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    width: 100%;
} 

#userPass, #userPassConfirm{
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;

}

.viewPass, .viewPassConfirm{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.icon-click{
    background: var(--main-blue);
    border: none;
    padding-inline: 1rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: grid;
    place-items: center;
}

.icon-click:hover{
    background: var(--main-blue90);
}

.icon-click i{
    color: var(--main-white);
    font-size: 1.6rem;
}

/*--------- Cuerpo ------*/
.token-row{
    display: flex;
    flex-direction: row;
    border-radius: 0.25em;
    width: 100%;
    height: 4rem;
    text-transform: uppercase;
    justify-content: flex-start;
    background: var(--main-white);
}

.token-row:hover{
    box-shadow: 0.3em 0.3em 0.3em -0.2em rgba(0,0,0,0.75);
}

.token-element{
    display: grid;
    place-items: center;
    border: 0.1rem solid var(--main-gray90);
    background: var(--main-gray50);
    color: var(--main-black);
    height: 100%;
    width: clamp(6.6em,9em,9em);
    padding: 0.2em;
}

.token-row:hover .token-element{
    color: var(--main-white);
    background: var(--main-blue90);
    border: 0.1rem solid var(--main-blue);
}

.token-info{
    display: grid;
    place-items: center;
    border: 0.1em solid var(--main-gray90);
    border-left:none;
    background: var(--main-gray10);
    color: var(--main-black);
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 0.2em;
}

.btn-contain{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: nowrap;
}

.submit-btn{
    margin: 0rem;
    width: 100%;
    height: 100%;
    border-radius: 0rem;
}

#edit-profile{
    border-bottom-left-radius: 0.5rem;
}

#edit-password{
    border-bottom-right-radius: 0.5rem;
}

.sidedata-content{
    height: fit-content;
}

.btn-row:hover{
    height: 2.5em;
    box-shadow: 0.3em 0.3em 0.3em -0.2em rgba(0,0,0,0.75);
}

/*--------- Media Queries ------*/

/* pantallas pequeñas*/
@media (max-width: 599.99px) { 
    
    /* para cajas de logueo, registro, etc*/
    .canva{
        align-items: center;
        justify-content: center;
    }

    .user-data{        
        flex-direction: column;
        align-items: center;
    }
    
    .dimention-box{
        width: clamp(5em, 100%, 25em);
        
    }
    
}

/* Móviles en horizontal o tablets en vertical */
@media (min-width: 600px) {
    
    /* para cajas de logueo, registro, etc*/
    .dimention-box{
        width: clamp(20em, 100%, 35em);
    }
    
    .user-data{        
        flex-direction: row;
        align-items: center;
    }
 
}