<div class="modal-content">
    <div class="box-title border-top title-modal">
        <h2 id="title-table">texto titulo</h2>
        <i class="fa-regular fa-rectangle-xmark close"></i>
    </div>    
    <form class="form-container border-bottom" id="edit-form" enctype="multipart/form-data" method="PUT" action="/mostrarModal/edit/gallery">
        <div class="subitem">
            <strong class="center-title">Carátula actual</strong>
            <img id="galleryImage" src="#" alt="" class="pass-element">
            <strong class="center-title">Cambiar carátula</strong>
            <input type="file" name="galleryNewImage" id="galleryNewImage">
        </div>
        <div class="subitem">
            <strong class="center-title">Nombre</strong>
            <input type="text" name="galleryName" id="galleryName" class="form-input-text pass-element" required placeholder="Ingrese el nombre">
        </div>
        <div class="subitem">
            <button type="submit" name="add-item" class="submit-btn update">Actualizar</button>
        </div>        
    </form>
</div>