<%- include ('../partials/commons/head')%>
    <link rel="stylesheet" href="/css/main/productCart.css">
    <title>Carrito</title>
</head>
<%- include ('../partials/commons/header')%>
    <main class="mainCart">
        <section class="seguimiento">
            <ul class="tabla">
                <li><a href="/products">Productos</a></li>
                <li>></li>
                <li class="carrito">Carrito</li>
                <li>></li>
                <li>Información</li>
                <li>></li>
                <li>Pago</li>
            </ul>
        </section>
        <section class="div1">
            <div class="div2">
                <div class="container">
                    <h1>Mi Orden</h1>
                        <ul class="detalle">
                            <li>Producto1</li>
                            <li><input class="q" value="1" type="number" name="cantidad" min="1"></li>
                            <li>Unidad1</li>
                            <li>$00.00</li>
                            <li><a href="#"><i class="fas fa-solid fa-trash"></i></a></li>
                            <li><a href="#"><i class="fas fa-solid fa-heart"></i></a></li>
                        </ul>
                        <ul class="detalle">
                            <li>Producto2</li>
                            <li><input class="q" value="1" type="number" name="cantidad" min="1"></li>
                            <li>Unidad2</li>
                            <li>$00.00</li>
                            <li><a href="#"><i class="fas fa-solid fa-trash"></i></a></li>
                            <li><a href="#"><i class="fas fa-solid fa-heart"></i></a></li>
                        </ul>
                        <ul class="detalle">
                            <li>Producto3</li>
                            <li><input class="q" value="1" type="number" name="cantidad" min="1"></li>
                            <li>Unidad3</li>
                            <li>$00.00</li>
                            <li><a href="#"><i class="fas fa-solid fa-trash"></i></a></li>
                            <li><a href="#"><i class="fas fa-solid fa-heart"></i></a></li>
                        </ul>
                </div>
                <div class="continuar">
                <a href="/products">
                    <button type="submit" name="pagar" class="boton-seguir">Continuar comprando</button>
                </a> 
                </div>
            </div>
            <div class="div3">
                <div class="resumen">
                    <h3>Resumen del pedido</h3>
                    <section class="totales">  
                        <div class="total">TOTAL:</div>
                        <div class="suma-total">$00.00</div>
                    </section>
                </div>    
                <div class="finalizar">
                    <button type="submit" name="pagar" class="boton-pagar">Finalizar compra</button>
                </div>    
            </div> 
        </section>         
    </main>
<%- include ('../partials/commons/footer')%>