<%- include ('../partials/commons/head')%>
    <link rel="stylesheet" href="/css/auth/user/manageProfile.css">
    <link rel="stylesheet" href="/css/commons/modalTypes.css">
    <title>Profile</title>
</head>
    <%- include ('../partials/commons/header')%>
    <main>
        <section class="container-max-box">
            <div class="box-title border-top">
                <h2>Administración del Perfil</h2>
            </div>
            <div class="show-data-box">  
                <%- include ('../partials/auth/user/sideData')%>
                <section class="main-container">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum inventore magnam veritatis adipisci omnis asperiores exercitationem provident tempore tenetur nemo nulla suscipit recusandae earum veniam iure, voluptatum necessitatibus nam laboriosam.
                </section>                   
            </div>
        </section>            
    </main>
    <script src="/scripts/auth/user/editUser.js"></script>
<%- include ('../partials/commons/footer')%>