/*---------Home--------*/

.box-splitter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.box-data{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--main-blue50);
    padding: 1em;
    border-radius: 0.5em;
}


.box-form{
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    width: 100%;
    margin-top: 1em;
    justify-content: center;
    align-content: center;    
}

.box-form-item{
    min-height: 1.2em;
}

.item-text{
    width: 100%;
    height: 100%;
}

#idcomment{
    resize: vertical;
}

/*------HOOVER------*/

#idsend:hover {
    color: #ffffff;
      box-shadow: 3px 3px 3px #36A5D5;
      border-radius: 5px;
  }



/*--------- Media Queries ------*/

/* pantallas pequeñas*/
@media (max-width: 599.99px) { 
    
    /* para cajas de logueo, registro, etc*/
    .dimention-box{
        width: clamp(25em,100vw,45em);
        
    }
    
}

/* Móviles en horizontal o tablets en vertical */
@media (min-width: 600px) {
    
    /* para cajas de logueo, registro, etc*/
    .dimention-box{
        width: clamp(55em,100vw,65em);
    }
 
}