/*---------Home--------*/

.team-data-content {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.main-team {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.3rem;
    padding: 2rem 0rem;
    justify-content: space-between;
    align-items: center;
    background: var(--main-blue50);
}

.team-info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    align-items: center;
    background-color: var(--main-blue90);
}

.main-team-card{
    width: 22rem;
    border: 0.3rem solid var(--main-blue10);
    border-radius: 0.5rem;
}

.top-colored{
    background-color: var(--main-blue);
    border-bottom: 0.3rem solid var(--main-blue10);
    height: 8rem;
}

.member-image {
    margin-top: -7rem;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 0.3rem solid var(--main-blue10);
}

.input-w-icon{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 0.5rem;
    background-color: var(--main-white);
}

.input-w-icon > div, .border-right{
    display: grid;
    place-items: center;
    border: 0.1rem solid var(--main-black90);
}

.input-w-icon > div{
    background-color: var(--main-black90);
    border-right: none;
    width: 4rem;
    
}

.input-w-icon > div > i{
    color: var(--main-white);
}

.input-w-icon > span{
    padding: 0.5rem;
    width: 100%;
}

.text-colored{
    color: var(--main-white);
}

/*----Slide video----*/
.general-videos {
    /* height: 80vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e9f6fa;
    padding: 20px;
}

.container-carousel-videos {
    position: relative;
    width: 750px;
    height: 450px;
    background-color: #e0e0e0;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
    overflow: hidden;
}

.carruseles-video {
    /* width: 1000%; */
    height: 100%;
    display: flex;
}

.slider-section-video {
    width: calc(100% / 10);
    height: 100%;
}

.slider-section-video iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.btn-leftv,
.btn-rightv {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0, -50%);
    transition: .5s ease;
    user-select: none;
}

.btn-leftv:hover,
.btn-rightv:hover {
    background-color: #92d2e9;
    color: blueviolet;
}

.btn-leftv {
    left: 10px;
}

.btn-rightv {
    right: 10px;
}

/*----Slide image----*/

.general {
    /* height: 80vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e9f6fa;
    padding: 20px;
}

.container-carousel {
    position: relative;
    width: 70vh;
    height: 70vh;
    background-color: #e0e0e0;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
    overflow: hidden;
}

.carruseles {
    width: 1000%;
    height: 100%;
    display: flex;
}

.slider-section {
    width: calc(100% / 10);
    height: 100%;
}

.slider-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0, -50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #92d2e9;
    color: blueviolet;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}

/*------Contact-----*/

main form {
    align-content: center;
    position: relative;
    width: 400px;
    height: 70%;
    max-width: 70%;
    max-height: 100%;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: #000;
    margin: 10px auto;
}

main form div {
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
    margin: 0 10px;
    height: auto;

}


#iname,
#idsubject,
#idemail,
#idcomment {
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    border-color: transparent;
}

#idsend {
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #36A5D5;
    border-color: #36A5D5;
}

@media (max-width: 599px) {
    .main-team{
        flex-direction: column;
    }

}

@media (min-width: 769px) {
    .main-team {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: auto;
    }
}


/*------HOOVER------*/

#idsend:hover {
    color: #ffffff;
    box-shadow: 3px 3px 3px #36A5D5;
    border-radius: 5px;
}