/*------MAIN------*/
.mainCart {
  gap: 10px;
  flex-grow: 1;
  margin: 8px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px #92d2e9;
  border-radius: 5px;
  padding: 5px;
  height: 90%;
  position:relative; 
}

.seguimiento{
  font-size: 14px;
  text-align: center;

}

.carrito{
  font-weight: bold;
}

h1{
  padding:10px;
  font-size: 30px;
  font-size: 20px;
 
}

.container{
  padding:5px;
  width: 400px;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 10px;
  background-color: white;
}

main section table{
  width: 100%;
  border-collapse: collapse;
  table-layout:auto;
  position:relative;
  overflow-x:auto
}

main section table thead{
  font-size: 14px;
  font-weight: bold;
}

main section table thead tr{
  border: none;
  text-align: center;
}

main section table thead tr td{
  font-size: 14px;
}

.q{
  width: 40px;
  height: 20px;
  padding: 1px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

main section table tbody{
  border-radius: 1px;
}

main section table tbody tr{
  border: none;
  text-align: center;
  padding: 2px;
  border-bottom: 2px;
}

main section table tbody tr td{
  padding: 5px;
}

main section table tbody tr td a i{
  color: black;
}

h2{
  font-size: 12px;
  font-weight: lighter;
}

main section.continuar{
  display: flex;
  justify-content: center;
  padding: 20px;
  justify-content: right;
}

main section a{
  text-decoration: none;
}

.boton-seguir{
  display:flex;
  padding: 10px;
  border:none;
  border-radius: 5px;
  background-color: var(--main-blue50);
  align-items: center;
  font-size: 12px;
}

.boton-seguir:hover{
  font-weight: bold;
}

.resumen{
width: 400px;
border-radius: 10px;
background-color: #36A5D5;
border-color: #36A5D5;
color:white;
}

.sub-section{
  width: 500px;
  padding-top: 20px;
  border-radius: 10px;
  border-color: grey;
  background-color: white;
  }
  
h3{
  padding: 10px;
  font-size: 20px;
}

.totales{
  padding: 5px;
  display: flex;
  justify-content: right;
  font-weight: bold;
}

main section div.total{
  padding: 5px;
  width: 80%;
  text-align: right;
  font-size: 14px;
}

main section div.suma-total{
  padding: 5px;
  width: 20%;
  text-align: right;
  font-size: 14px;
}

main div.finalizar{
  padding-top: 10px;
  padding-bottom: 50px;
  display: flex;
  width: 400px;
  justify-content: right;
}

div .boton-pagar{
  display:flex;
  border:none;
  border-radius: 5px;
  background-color:var(--main-blue50);
  align-items: center;
  text-align: center;
  padding:10px;
  
}

.boton-pagar:hover{
  font-weight: bold;
}

/*----------*/



.tabla {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  justify-content: center;
  font-size: 16px;
}

.tabla ul li {
  font-size: 16px;
}

.detalle {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  justify-content: center;
}

li {
  padding:15px;
}

.continuar{
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  width: 400px;
  justify-content: right;
}

