<div class="alert bg-alert">
    <div class="contain-icon success-icon">
        <i class="fa-solid fa-circle-check"></i>
    </div>
    <div class="msg-show">
            <span class="highlight success-text"></p>
    </div>
</div>